{% extends 'api_zoho/base.html' %}

{% block styles %}
    <style>
        .col-1-5 {
            flex: 0 0 12.5%; /* 1.5 / 12 = 0.125, que es 12.5% del ancho del contenedor */
            max-width: 12.5%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row col-12" role="alert">
            <div class="col-6 d-flex justify-content-between align-items-center mb-3">
                <h3>QBWC - Zoho Invoices List</h3>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-1-5">
                    <p class="alert alert-info" style="font-size: small">
                        <b>{{ invoices|length }}</b> found
                    </p>
                </div>
                <div class="col-1-5">
                    <p class="alert alert-warning" style="font-size: small">
                        <b>{{ unprocessed_number }}</b> not processed
                    </p>
                </div>
                <div class="col-1-5">
                    <p class="alert alert-success" style="font-size: small">
                        <b>{{ matched_number }}</b> matched
                    </p>
                </div>
                <div class="col-1-5">
                    <p class="alert alert-danger" style="font-size: small">
                        <b>{{ unmatched_number }}</b> unmatched
                    </p>
                </div>
                <div class="col-4">
                    <div class="container-fluid">
                        <div class="form-inline">
                            <label for="datetimepicker1" class="mr-2" style="font-size: small">Filter by date</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" placeholder="Filter by date"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <a href="#" class="btn btn-primary btn-sm" onclick="forceToSync(this)">Sync Selected</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-center centered-cell" >
            <div class="col-12">
                <div class="table-responsive">
        
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nr.</th>
                                <th>Customer</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Sync?</th>
                                <th>Force Sync?</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice in invoices %}
                            {% if invoice.customer_unmatched or invoice.items_unmatched %}
                                <tr style="background-color: rgba(255, 0, 0, 0.1);" data-date="{{ invoice.date|date:"Y-m-d" }}">
                            {% elif invoice.inserted_in_qb %}
                                <tr style="background-color: rgba(0, 255, 0, 0.1);" data-date="{{ invoice.date|date:"Y-m-d" }}">
                            {% else %}
                                <tr style="background-color: rgba(255, 255, 0, 0.1);" data-date="{{ invoice.date|date:"Y-m-d" }}">
                            {% endif %}
                                    <td class="centered-cell">{{ invoice.invoice_number }}</td>
                                    <td class="centered-cell">{{ invoice.customer_name }}</td>
                                    <td class="centered-cell">{{ invoice.date|date:"Y-m-d" }}</td>
                                    <td class="centered-cell">{{ invoice.total }}</td>
                                    <td class="text-center align-middle">
                                        {% if invoice.customer_unmatched %}
                                            <b>ERROR</b>
                                        {% elif not invoice.inserted_in_qb and not invoice.customer_unmatched and not invoice.items_unmatched %}
                                            Not Synced
                                        {% else %}
                                            <b>SUCCESS</b>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        {% if invoice.customer_unmatched %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="{{ invoice.id }}" {% if invoice.force_to_sync %}checked{% endif %}>
                                                <label class="form-check-label" for="{{ invoice.id }}">
                                                    Force to sync?
                                                </label>
                                            </div>
                                        {% elif not invoice.inserted_in_qb and not invoice.customer_unmatched and not invoice.items_unmatched %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="{{ invoice.id }}" {% if invoice.force_to_sync %}checked{% endif %}>
                                                <label class="form-check-label" for="{{ invoice.id }}">
                                                    Force to sync?
                                                </label>
                                            </div>
                                        {% else %}
                                            <b>Synced</b>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <a href="{% url 'api_zoho_invoices:view_invoice' invoice.id %}" class="btn btn-info btn-sm">View</a>
                                    </td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            var today = new Date().toISOString().split('T')[0];
            var table = $('#myTable').DataTable();

            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD', 
                useCurrent: false,    
                minDate: moment().subtract(1, 'years'), 
                maxDate: moment(),   
                defaultDate: today,   
                daysOfWeekDisabled: [0, 6],
            });

            $('#datetimepicker1').on('click', function() {
                $(this).datetimepicker('show');
            });

            //$('.input-group-append').on('click', function () {
            //    $('#datetimepicker1').data('datetimepicker').toggle();
            //});

            $.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                    var date = data[2]; // La columna de la fecha (ajusta el índice según tu tabla)
                    var selectedDate = $('#datetimepicker1').data('datetimepicker').viewDate().format('YYYY-MM-DD');
                    if (date === selectedDate) {
                        return true;
                    }
                    return false;
                }
            );

            // Mostrar solo las filas de hoy al cargar la página
            table.draw();

            $('#datetimepicker1').on('change.datetimepicker', function(e) {
                table.draw();
            });

        });

        function forceToSync(button) {
            let counter = 0;

            $('.form-check-input').each(function() {
                if ($(this).is(':checked')) {
                    counter++;
                }
            });

            if (counter === 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please select at least one invoice to force sync.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
                return;
            }

            else{

                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you want to force sync selected invoices?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, force to sync!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var csrftoken = getCookie('csrftoken');
                        var invoices = [];
                        $('.form-check-input').each(function() {
                            if ($(this).is(':checked')) {
                                invoices.push($(this).attr('id'));
                            }
                        });

                        $.ajax({
                            url: '/api_quickbook_soap/force_to_sync_invoices_ajax/',
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': csrftoken,
                                'invoices': JSON.stringify(invoices)
                            },
                            success: function(response) {
                                Swal.fire(
                                    'Success!',
                                    'Selected invoices have been forced to sync.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            },
                            error: function(response) {
                                Swal.fire(
                                    'Error!',
                                    'There was an error marking invoices force to sync.',
                                    'error'
                                );
                            }
                        });
                    }
                });

            }
        }

    </script>
{% endblock %}
