{% extends 'api_zoho/base.html'%}

{% block content %}

<div class="container-fluid mt-5">

    {% if item %}
        <h3 class="mb-4">Item Details</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Zoho Item ID</th>
                    <td>{{ item.item_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Zoho Item Name</th>
                    <td>{{ item.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Zoho Item SKU</th>
                    <td>{% if item.sku %}{{ item.sku }}{% else %} -- {% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Zoho Item Rate</th>
                    <td>{{ item.rate }}</td>
                </tr>
                <tr>
                    <th scope="row">Zoho Item Status</th>
                    <td>{{ item.status }}</td>
                </tr>
                <tr>
                    <th scope="row">Zoho QB List ID</th>
                    <td>{% if item.qb_list_id %}{{ item.qb_list_id }}{% else %} -- {% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Coincidences by Order</th>
                    <td>
                    {% if coincidences|length > 0 %}
                        <table class="table table-striped table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th>QB Item Name</th>
                                    <th>Coincidence Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for coincidence in coincidences %}
                                    <tr>
                                        <td>{{ coincidence.qb_item_name }}</td>
                                        <td>{{ coincidence.coincidence_name }}</td>
                                        <td class="text-center align-middle">
                                            <button class="btn btn-info btn-sm" onclick="matchRow(this, '{{ item.item_id }}', '{{ coincidence.qb_item_list_id }}')">Match</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No coincidences found.
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            No item found.
        </div>
    {% endif %}
    {% comment %} <a class="btn btn-success btn-sm" href="{% url 'api_zoho_items:list_items' %}">Back to list</a> {% endcomment %}
    <a class="btn btn-success btn-sm" href="#" onclick="backToList()">Back to list</a>

</div>

{% endblock %}

{% block scripts %}
<script>

    function matchRow(button, item_id, qb_item_list_id) {
        button.disabled = true;
        button.innerHTML = 'Matching...';
        var csrftoken = getCookie('csrftoken');
        Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to match this item?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, match it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/api_zoho_items/match_one_item_ajax/',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'item_id': item_id,
                        'qb_item_list_id': qb_item_list_id,
                        'action': 'match'
                    },
                    success: function(data) {
                        if (data.status == 'success') {
                            button.innerHTML = 'Matched';
                            button.classList.remove('btn-info');
                            button.classList.add('btn-success');
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: data.message,
                                willClose: () => {
                                    // Redirige a la página anterior
                                    window.history.back();
                                }
                            });
                        } else {
                            button.disabled = false;
                            button.innerHTML = 'Match';
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: data.message
                            });
                        }
                    },
                    error: function() {
                        button.disabled = false;
                        button.innerHTML = 'Match';
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong.'
                        });
                    }
                });
            } else {
                button.disabled = false;
                button.innerHTML = 'Match';
            }
        });
        
    }
    
</script>
{% endblock %}
