.custom-scrollbar {
    scrollbar-width: auto; /* Para Firefox */
    scrollbar-color: #c1c1c1 #f5f5f5; /* Para Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 20px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid #f5f5f5;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
  }